# Ignore everything...
*
# ... except preferences and package list
!.gitignore
!*.sublime-snippet
!Preferences.sublime-settings
!Package Control.sublime-settings
!Default (Windows).sublime-keymap
!SublimeLinter.sublime-settings
!Side Bar.sublime-settings
!SublimeCodeIntel.sublime-settings
!Side Bar.sublime-settings
!Emmet.sublime-settings
!PHP.sublime-settings
!JavaScript (Babel).sublime-settings
!Markdown.sublime-settings